div#s8-wpcfs-form {
	margin: 10px 0 10px 0;
}
div#s8-wpcfs-form-clear {
	clear: left;
}
div#s8-wpcfs-form form fieldset {
	margin: 0 0 15px;
    padding: 10px;
	float: left;
	border: 1px solid #aaa;
	width: 70%;
}
div#s8-wpcfs-form form fieldset legend {
	margin: 0 10px 0 10px;
	padding: 0 5px 0 5px;
	font-size: 125%;
	font-weight: bold;
}
div#s8-wpcfs-form form fieldset label {
	float:left;
	margin-right: 10px;
	padding-top: 5px;
	text-align:right;
}
div#s8-wpcfs-form form fieldset input {
	margin: 5px 0 5px 0;
}

.s8-wpcfs-attachment {
	border-bottom: 1px solid #aaa;
}
.s8-wpcfs-attachment p {

}
.s8-wpcfs-attachment img {
	border: 1px solid #aaa;
	margin: 2px;
	padding: 2px;
	float: right;
	width:  70px;
	height:  70px;
}

.s8-wpcfs-attachment a {}

.s8-wpcfs-table {}
